.postcards {
  display: flex;
  /* background-color: yellow; */
  justify-content: center;
  flex-direction: row;
  width: 98vw;
  height: 80vh;
  align-items: center;
  background-color:whitesmoke;
  /* border-radius: 5px;
  border: 2px black solid; */
  color: whitesmoke;
  font-size: 17px;
  gap:25px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 5px;
  padding: 2px;

  
}
.postcard{
    /* background-color: aqua; */
    width: 50vw;
    height: 70vh;
    align-items: center;
    flex-direction:column;
    justify-content:center;
    color: black;
    border-radius: 3px;
    border: 2px black solid;
    background-color: gray;
}

.postcard img {
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 4px;
    align-items: center;
}
