.image-container{
    width:99%;
    margin-top:.2rem;
    min-height:400px;
    background-image: url("../../../public/images/spaper.webp");
    background-size:cover;
    background-position: center;
    margin: 5px;
    padding: 3px;
}